@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.6;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: justify;
}

.clock {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background-color: #efeff8;
  
  padding: 5px 10px;
  border-radius: 15px;
}

.pietra {
  position: absolute;
  top: 20px;
  left: 20px; /* Zmiana z right na left */
  font-size: 30px;
  background-color: #efeff8;
  
  padding: 5px 10px;
  border-radius: 15px;
}
